#projectButton {
    margin: 0 auto;
    margin-top: 1em;
    padding: 15px;
    width: fit-content;
    height: auto;
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--third-color);
    color: var(--second-color);
    text-align: center;
    cursor: pointer;
  }
  
  #container {
    margin-top: 2em;
    display: flex;
  }
  
  #projectPane {
    height: 100vh;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 2em;
    color: var(--second-color);
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .projects {
    width: 25vw;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .delete {
    width: 1em;
    height: auto;
  }
  
  .taskPanes {
    background-color: var(--fourth-color);
    height: 100vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #taskButton {
    padding: 0.8em;
    margin: 0.5em;
    font-size: 2.6rem;
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--third-color);
    cursor: pointer;
  }
  
  .taskContainers {
    padding: 0.5em;
    width: 100vw;
    display: flex;
    flex-direction: column;

  }

  .upperTaskPane {
    display: flex;
    justify-content: space-between;
    background-color: var(--first-color);
  }